天气通知.json
{
  "name": "天气通知",
  "nodes": [
    {
      "parameters": {},
      "id": "c62dbee9-249d-446a-a7a9-39de5a0b0883",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        460,
        440
      ]
    },
    {
      "parameters": {
        "url": "http://t.weather.itboy.net/api/weather/city/101180101",
        "options": {}
      },
      "id": "2fbf17f1-9ff3-45f2-9e46-53dcdde3f282",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        660,
        440
      ]
    },
    {
      "parameters": {
        "functionCode": "// 处理返回的 json 格式的数据并拼接成字符串\n// 老苏只处理了当天的数据\n\nshidu = items[0].json.data.shidu;\npm25 = items[0].json.data.pm25;\npm10 = items[0].json.data.pm10;\nquality = items[0].json.data.quality;\nwendu = items[0].json.data.wendu;\nganmao = items[0].json.data.ganmao;\nhigh = items[0].json.data.forecast[0].high.replace(/\\s*/g, '');\nlow = items[0].json.data.forecast[0].low.replace(/\\s*/g, '');\nfx = items[0].json.data.forecast[0].fx;\nfl = items[0].json.data.forecast[0].fl;\ntype = items[0].json.data.forecast[0].type;\nymd = items[0].json.data.forecast[0].ymd;\nweek = items[0].json.data.forecast[0].week;\n\nvar yubao = \"天气预报：</br>今天是\" + ymd + \"，\" + week + \"，今天天气\" + type + \"。最\" + high + \"度，最\" + low + \"度，风向\" + fx + \"，风力\" + fl + \"，空气质量\" + quality + \"，湿度\" + shidu + \"，\" + ganmao;\n\n// 调试用的\n//console.log(encodeURIComponent(yubao).replace(/'/g,\"%27\").replace(/\"/g,\"%22\"));\n\n// 中文写回到到 json 中\nitems[0].json.yubao = yubao;\n// urlencode 后写回到到 json 中\n//items[0].json.yubaoe = encodeURIComponent(yubao).replace(/'/g,\"%27\").replace(/\"/g,\"%22\");\n\nreturn items;\n"
      },
      "id": "66ff5e62-50f7-406f-bba1-46bb52715e29",
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        440
      ]
    },
    {
      "parameters": {
        "url": "http://wxpusher.zjiecode.com/api/send/message/",
        "allowUnauthorizedCerts": true,
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "appToken",
              "value": "AT_eVUW8m1t5FOoBHtQBYoeC0Z9GQ3xRrCY"
            },
            {
              "name": "uid",
              "value": "UID_LJtRWNiwUu1SXyZUsdX4J8bdXUGq"
            },
            {
              "name": "content",
              "value": "={{$json[\"yubao\"]}}"
            },
            {
              "name": "summary",
              "value": "正经天气预报，不看后悔~~~"
            }
          ]
        }
      },
      "id": "aceb7296-ecce-4ea5-8f80-11d7efd8d409",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1020,
        440
      ]
    },
    {
      "parameters": {
        "path": "notify-weather",
        "options": {}
      },
      "id": "9d20a79a-43ef-418d-9b39-3b033b4976d6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        260
      ],
      "webhookId": "7ded4d0c-62a7-4197-9201-868fdbadfeef"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "id": "41907260-37b7-4b9e-b82b-693e2e51dcb1",
      "name": "定时通知",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        460,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "定时通知": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 15,
  "meta": {
    "instanceId": "292f78220f60b817c8eed59dbcf189316043f452b24bda31e36412e28e652966"
  },
  "tags": []
}